# Global fallback - everyone
* @HBPencil28 @BridgetNkosi @bandilem-git @Njabs-codez @W-Wolf-K

# Backend 
/backend/ @bandilem-git @W-Wolf-K @Njabs-codez

# Frontend
/frontend/ @HBPencil28 @BridgetNkosi @bandilem-git @Njabs-codez

# AI  
/ai/ @W-Wolf-K @bandilem-git @Njabs-codez

# testing code
/tests/ @bandilem-git @W-Wolf-K @Njabs-codez @HBPencil28 @BridgetNkosi

#FOLDER STURUCTURE 
#PROTECT YOUR FOLDER: /<branch name>/  @<githubUsername>